# Node
node_modules/
dist/
build/
.cache/
npm-debug.log

# Environment Variables
.env

# Logs
logs/
*.log
yarn-debug.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
